<!DOCTYPE html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title itemprop="name">Perfil</title>
      <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
      <link rel="canonical" href="https://bootdey.com/snippets/view/bs4-social-profile-header" itemprop="url">
   </head>
   <body>
      <div id="snippetContent">
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"/>
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"/>
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css">
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/js/bootstrap.bundle.min.js"></script> 
         <div class="bg-white">
            <div class="container">
               <div class="d-flex justify-content-between align-items-center py-4">
                  <div>  </div>
                  <div>   <i class="ion ion-md-mail"></i> <a></a></div>
               </div>
            </div>
            <hr class="m-0">
            <div class="container">
               <div class="text-center py-5">
                    <img src="../static/assets/images/avatar6.png" class="ui-w-100 rounded-circle">
                  <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
                     <h4 class="font-weight-bold my-4">{{miembro.nombre}}, {{miembro.apellido}}</h4>
                     <div class="text-muted leftT"> Telefono: {{miembro.telefono}}</div>
                     <div class="text-muted leftT"> Mail: {{miembro.email}}</div>
                  </div>
                  <div class="text-center"> <a href="#" class="btn icon-btn borderless btn-outline-twitter btn-lg btn-round"> <span class="ion ion-logo-twitter"></span> </a> <a href="#" class="btn icon-btn borderless btn-outline-facebook btn-lg btn-round"> <span class="ion ion-logo-facebook"></span> </a> <a href="#" class="btn icon-btn borderless btn-outline-instagram btn-lg btn-round"> <span class="ion ion-logo-instagram"></span> </a></div>
               </div>
            </div>
            <hr class="m-0">
            <ul class="nav nav-tabs tabs-alt justify-content-center">
               <li class="nav-item"> <a class="nav-link py-4 active" data-bs-toggle="tab" href="#comunidades">Comunidades</a></li>
               <li class="nav-item"> <a class="nav-link py-4" data-bs-toggle="tab" href="#informacion">Información</a></li>
               <li class="nav-item"> <a class="nav-link py-4" data-bs-toggle="tab" href="#incidentes">Incidentes a Revisar</a></li>
            </ul>

         </div>

         <div class="container">
             <!-- Contenido de Comunidades, Información e Incidentes a Revisar -->
             <div class="tab-content">
                 <div class="tab-pane fade show active" id="comunidades">

                    <section class="node_category card d-inline-block w-100 mb-3">
                    <div class="card-body2">
                     <!-- Contenido de Comunidades -->
                     <h4 class="centroH">Detalles Comunidades:</h4>
                     <ul class="centroComu">
                         {{#if comunidades}}
                             {{#each comunidades}}
                                 <li><a>{{nombre}}</a><a href="http://localhost:4567/comunidad/{{comunidad_codigo}}" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2  text-secondary"><i class="bi bi-arrow-return-right"></i></a></li>
                             {{/each}}
                         {{else}}
                             <p>No estás en ninguna comunidad</p>
                         {{/if}}
                     </ul>
                     </div>
                     </section>
                 </div>
                 <div class="tab-pane fade" id="informacion">
                     <section class="node_category card d-inline-block w-100 mb-3">
                     <div class="card-body2">
                     <!-- Contenido de Información -->
                     </div>
                     </section>
                 </div>
                 <div class="tab-pane fade" id="incidentes">
                     <section class="node_category card d-inline-block w-100 mb-3">
                         <div class="card-body2">
                             <!-- Contenido de Incidentes a Revisar -->
                             <h4 class="centroH">Incidentes a Revisar:</h4>
                             <!-- Agrega aquí el contenido específico de los incidentes a revisar -->
                             <ul class="centroComu">
                                 {{#if incidentes}}
                                    {{#each incidentes}}
                                         <li><a>{{servicio}} en {{establecimiento}}</a>
                                             <a href=# data-bs-toggle="modal" data-bs-target="#modal-1" onclick="mostrarDetallesIncidente('{{creador}}', '{{servicio}}', '{{establecimiento}}','{{fechaCreacion}}','{{descripcion}}','{{idComunidad}}','{{codigo}}')" data-bs-placement="top" title="Edit" class="px-2  text-secondary"><i class="bi bi-arrow-return-right"></i></a>
                                         </li>
                                    {{/each}}
                                {{else}}
                                     <p>No hay ningún incidente para revisar</p>
                                {{/if}}
                            </ul>
                         </div>
                     </section>
                 </div>
             </div>
         </div>
          <div class="modal fade" role="dialog" tabindex="-1" id="modal-1">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title">Incidente</h4><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="modal"></button>
                      </div>
                      <div class="modal-body">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead>
                                  <tr>
                                      <th>Creador:</th>
                                      <th id ="creador"><span style="font-weight: normal !important;" ></span></th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                      <td><strong>Servicio:</strong></td>
                                      <td id="servicio"></td>
                                  </tr>
                                  <tr>
                                      <td><strong>Establecimiento:</strong></td>
                                      <td id="establecimiento"></td>
                                  </tr>
                                  <tr>
                                      <td><strong>Fecha Creación:</strong></td>
                                      <td id="fechaCreacion"></td>
                                  </tr>
                                  </tbody>
                              </table>
                          </div>
                          <h5 style="padding-left: 6px;">Descripcion:</h5>
                          <p id="descripcion" style="padding-left: 6px;"></p>
                      </div>
                      <div class="modal-footer">
                          <button id="cerrarIncidenteBtn" class="btn btn-warning" type="button" data-bs-dismiss="modal">Cerrar Incidente</button>
                          <button class="btn btn-light" type="button" data-bs-dismiss="modal" >Cerrar</button>
                      </div>
                  </div>
              </div>
          </div>



         <style type="text/css">.text-white {
            color: #fff !important;
            }
            body{margin-top:20px;
			    background-color:#eee;
               
			    }
                .card-body2{
                    flex:1 1 auto;
                    padding:7px;
                    width: auto;
                }

            .ui-w-100 {
                width: 120px !important;
                height: auto;
                border:2px solid #6e6e6e;
            }
            .rounded-circle{
                border-radius:50%!important
            }

            .text-secondary i.bi.bi-arrow-return-right {
            color: #0084ff; /* Cambia este valor al color que desees */
            }
            

            .btn-sm i.bi.bi-arrow-return-right {
            font-size: 10px; /* Ajusta el tamaño de la flecha */
            }

            .btn-sm {
                padding: 1px; /* Ajusta el relleno del botón */
                font-size: 1px; /* Ajusta el tamaño del texto en el botón */
            }

            .ui-bg-overlay-container, .ui-bg-video-container {
            position: relative;
            }
            .viewmore{
            text-align:right;
            margin-right: 600px;
            }
            .ui-bg-cover {
            background-color: transparent;
            background-position: center center;
            background-size: cover;
            }
            .centroH {
            Text-align: center;
            }
            .leftT {
            Text-align: left;
            margin-left: 125px;

            }            
            .centroComu {
            Text-align: center;
            Text-decoration: none;
            Font-size: 19px;
            list-style-type: none;
            }
            .ui-bg-overlay-container .ui-bg-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            }
            .bg-dark {
            background-color: rgba(24,28,33,0.9) !important;
            }
            .opacity-50 {
            opacity: .5 !important;
            }
            .bg-dark {
            background-color: rgba(24,28,33,0.9) !important;
            }
            .ui-bg-overlay-container>*, .ui-bg-video-container>* {
            position: relative;
            }
            @media (min-width: 992px){
            .container, .container-fluid {
            padding-right: 2rem;
            padding-left: 2rem;
            }
            }
            .media, .media>:not(.media-body), .jumbotron, .card {
            -ms-flex-negative: 1;
            flex-shrink: 1;
            }
            .d-flex, .d-inline-flex, .media, .media>:not(.media-body), .jumbotron, .card {
            -ms-flex-negative: 1;
            flex-shrink: 1;
            }

            .font-weight-bold {
            font-weight: 700 !important;
            }
            .opacity-75 {
            opacity: .75 !important;
            }
            .tabs-alt.nav-tabs .nav-link.active, .tabs-alt.nav-tabs .nav-link.active:hover, .tabs-alt.nav-tabs .nav-link.active:focus, .tabs-alt>.nav-tabs .nav-link.active, .tabs-alt>.nav-tabs .nav-link.active:hover, .tabs-alt>.nav-tabs .nav-link.active:focus {
            -webkit-box-shadow: 0 -2px 0 #26B4FF inset;
            box-shadow: 0 -2px 0 #26B4FF inset;
            }
            .nav-tabs:not(.nav-fill):not(.nav-justified) .nav-link, .nav-pills:not(.nav-fill):not(.nav-justified) .nav-link {
            margin-right: .125rem;
            }
            .nav-tabs.tabs-alt .nav-link, .tabs-alt>.nav-tabs .nav-link {
            border-width: 0 !important;
            border-radius: 0 !important;
            background-color: transparent !important;
            }
            .nav-tabs .nav-link.active {
            border-bottom-color: #fff;
            }
         </style>
         <script type="text/javascript"></script> 
         <style>#bsaHolder{right:10px;position:absolute;top:0;width:345px;z-index:10}
            #bsa_closeAd{width:15px;height:15px;overflow:hidden;position:absolute;top:10px;right:110px;border:none!important;z-index:1;text-decoration:none!important;background:url(https://bootdey.com/img/x_icon.png) red no-repeat} 
            #carbonads *{margin:initial;padding:initial;text-align:center}#carbonads{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',Helvetica,Arial,sans-serif;display:inline-block;font-size:14px;text-shadow:0 1px hsla(0,0%,100%,.8)}#carbonads a,#carbonads a:hover{color:#444;text-decoration:none}#carbonads>span{display:grid;background-color:#f9f9fa;max-width:250px;padding:1em;box-sizing:border-box;border-radius:4px;box-shadow:0 0 1px hsl(0deg 0% 0% / .075),0 0 2px hsl(0deg 0% 0% / .075),0 0 4px hsl(0deg 0% 0% / .075),0 0 8px hsl(0deg 0% 0% / .075),0 0 16px hsl(0deg 0% 0% / .075)}#carbonads .carbon-wrap{display:grid;row-gap:1em}#carbonads .carbon-text{font-size:1em;margin-bottom:.5em}#carbonads .carbon-poweredby{opacity:.5;font-size:.725em;text-transform:uppercase;font-weight:600;letter-spacing:.05ch}
         </style>
      </div>
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-F1RTS0P1CD"></script> <script>window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments);}
         gtag('js', new Date());
         
         gtag('config', 'G-F1RTS0P1CD');
      </script>
      <script>
              document.addEventListener('DOMContentLoaded', function () {
                  let id_sesion = "{{idSesion}}";
                  localStorage.setItem('id_sesion', id_sesion);
              });
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Agregar manejo de clics para cambiar entre pestañas
                const tabs = document.querySelectorAll('.nav-tabs .nav-link');
                const tabContents = document.querySelectorAll('.tab-content .tab-pane');

                tabs.forEach((tab, index) => {
                    tab.addEventListener('click', function () {
                        // Ocultar todos los contenidos de pestañas
                        tabContents.forEach((content) => {
                            content.classList.remove('show', 'active');
                        });

                        // Mostrar el contenido de la pestaña correspondiente
                        tabContents[index].classList.add('show', 'active');
                    });
                });
            });
        </script>
        <script>
            function mostrarDetallesIncidente(creador, servicio, establecimiento,fechaCreacion,descrpcion,idComunidad,codigoIncidente) {
                // Rellenar dinámicamente los campos del modal
                document.getElementById('creador').innerText = creador;
                document.getElementById('servicio').innerText = servicio;
                document.getElementById('establecimiento').innerText = establecimiento;
                document.getElementById('fechaCreacion').innerText = fechaCreacion;
                document.getElementById('descripcion').innerText = descrpcion;

                var cerrarIncidenteBtn = document.getElementById('cerrarIncidenteBtn');
                cerrarIncidenteBtn.setAttribute('data-codigo-incidente', codigoIncidente);
                cerrarIncidenteBtn.setAttribute('data-id-comunidad', idComunidad);
            }
        </script>
        <script>
            document.getElementById('cerrarIncidenteBtn').addEventListener('click', function () {
                // Obtén el código del incidente y otros detalles que necesites
                var codigoIncidente = this.getAttribute('data-codigo-incidente');
                var idComunidad = this.getAttribute('data-id-comunidad');
                let idSesion = "{{idSesion}}";
                // Realiza la solicitud PATCH al servidor
                fetch(`http://localhost:4567/api/cerrarIncidente/${idComunidad}/${idSesion}`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ codigo: codigoIncidente, fechaCierre: obtenerFechaCierre() })
                }).then(response => {
                    if (!response.ok) {
                        throw new Error('Error al cerrar el incidente');
                    }
                    return response.text();
                }).then(data => {
                    // Verificar el contenido de la respuesta y mostrar un mensaje en consecuencia
                    if (data.includes("Incidente cerrado con éxito")) {
                        alert('Incidente cerrado con éxito');
                    }
                }).catch(error => {
                    console.error('Error:', error);
                });
            });

            // Funciones auxiliares para obtener el código del incidente y la fecha de cierre

            function obtenerFechaCierre() {
                return new Date().toISOString(); // Puedes ajustar esto según cómo manejas las fechas
            }
        </script>
   </body>
</html>
